.error {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.error__title {
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 10px;
}

.error__link {
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-decoration: underline;
}

.error__link:hover {
    colur: black;
    cursor: pointer;
}